/* .accordion {
  border: 1px solid #e35d6a;
} */

.dropdown h2 button {
  box-shadow: none !important;
  color: #000 !important;
  font-size: 18px;
  padding: 12px;
}

.dropdown-list {
  margin: 0;
  padding: 0;
}

.dropdown-list li {
  list-style: none;
  padding: 5px;
  width: max-content;
}

.dropdown-list li label {
  margin-right: 5px;
  color: #858585;
}

.dropdown-list li input {
  cursor: pointer;
}

.dropdown-list li label:hover {
  margin-right: 5px;
}
